/* ---------------
    CSS BASIS
 -----------------*/
/* Hier gaan alleen de resets in */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  font-size: 62.5%;
}
/* ---------------
    ALGEMEEN
 -----------------*/
/* Hier komen alle semantische elementen */
:root {
  /* kleuren */
  --primary-color: #e36414;
  --secundairy-color: #000814;
  --background-color: #0f0f0f;
  --text-color: #fff;
  --border-color: #e36414;
  --background-button: black;
  /* Spacing */
  --letter-spacing: 0.03rem;
  /* Border Radius */
  --border-radius: 10px;
  /* Schaduwen */
  --text-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  --box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

body {
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}

main section {
  margin: 3rem 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  text-shadow: var(--text-shadow);
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1rem;
}

li {
  font-size: 2rem;
}

a {
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
}

a:hover,
a:focus {
  color: whitesmoke;
  text-decoration: underline;
}

a:active {
  color: whitesmoke;
  transform: translateY(2px);
}
/* ---------------
    NAVBAR
 -----------------*/
/* Hier komt alles van de navigatie in van de website */
.navbar {
  display: grid;
  align-items: center;
  max-width: 100%;
  position: static;
  padding: 2rem 1.5rem 0 1.5rem;
  background-color: whitesmoke;
}

.navbar .nav-logo {
  font-size: 3rem;
  font-weight: bold;
  color: var(--secundairy-color);
  text-decoration: none;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--secundairy-color);
  padding-bottom: 0.5rem;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 1rem;
}

.navbar li {
  border: 3px solid var(--border-color);
  padding: 0.8rem;
  width: 90%;
  height: 100%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.navbar li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin-bottom: 0;
}

/* ---------------
    HERO
 -----------------*/
/* Hier komt de hero te staan */
.hero {
  margin: 0 0 1rem;
  position: relative;
}

.hero-content {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/foto-mika-veld.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 3px solid var(--secundairy-color);
  border-bottom: 3px solid var(--secundairy-color);
}

.hero-content h1 {
  margin: 0.5rem auto 6rem;
  padding: 1rem 0;
  font-size: clamp(1.8rem, 3vw, 4rem);
  text-shadow: var(--text-shadow);
  letter-spacing: 0.05rem;
  background-color: rgba(245, 245, 245, 0.752);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 90%;
}

.hero-buttons {
  display: flex;
  margin-top: 4rem;
}

.hero-content a {
  margin: 8rem auto 1rem;
  text-align: center;
  background-color: var(--background-button);
  padding: 0.75rem 4rem;
  border: 2px solid whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  color: whitesmoke;
  text-decoration: none;
}

/* ---------------
    SECTIES
 -----------------*/
/* Hier komen alle secties in om te stylen */

/* ---------------
    HOME PAGE 
 -----------------*/

.over-mij-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.over-mij-image {
  display: flex;
  gap: 10px;
  padding-left: 2rem;
  margin: 0 0 2rem;
}

.over-mij-image img {
  display: block;
  object-fit: cover;
  width: 150px;
  height: auto;
  border: 3px solid var(--secundairy-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.over-mij-image-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  letter-spacing: var(--letter-spacing);
}

.over-mij-text p {
  letter-spacing: var(--letter-spacing);
}

.over-mij-text a {
  margin: 3rem 1rem 1rem auto;
  display: block;
  width: fit-content;
}

.specialiteiten {
  background-color: var(--background-color);
  border-bottom: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  color: whitesmoke;
  padding: 2rem 0;
  max-width: 100%;
  overflow: hidden;
}

.specialiteiten h2 {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 2px solid whitesmoke;
}

.specialiteiten-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.specialiteiten-card {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  gap: 10px;
  padding-bottom: 2rem;
}

.specialiteiten-card.reverse div {
  flex-direction: row-reverse;
}

.specialiteiten-card div {
  display: flex;
  gap: 10px;
}

.specialiteiten-card .icon {
  font-size: 5rem;
  margin: auto 0;
}

.specialiteiten-card p {
  margin: auto 1rem;
}

.specialiteiten-card h3 {
  overflow-wrap: break-word;
}

.specialiteiten-card.reverse h3 {
  margin-left: auto;
}

.specialiteiten-card.reverse p {
  flex-direction: row-reverse;
  text-align: right;
}

.specialiteiten-card:not(:last-of-type) {
  border-bottom: 2px solid whitesmoke;
}

.specialiteiten a {
  background-color: whitesmoke;
  text-align: center;
  font-size: 1.8rem;
}

.specialiteiten a:hover {
  color: black;
}

.projecten h2 {
  text-align: center;
}

.projecten-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.projecten-card {
  display: flex;
  flex-direction: column;
}

.projecten-card .tools::before {
  content: "🛠️";
  font-size: 2rem;
  margin-right: 0.5rem;
}

.projecten-card a {
  display: block;
  text-align: center;
}

.contact {
  border: 3px solid var(--secundairy-color);
  border-radius: var(--border-radius);
  margin: 1rem 2rem;
  background: linear-gradient(
    to bottom,
    whitesmoke 20%,
    var(--primary-color) 80%
  );
}

.contact h2 {
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2rem;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  border: 2px solid var(--secundairy-color);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
  font-weight: bolder;
  font-size: 1.3rem;
  outline: none;
  color: var(--secundairy-color);
}

.form-group input:focus,
.form-group textarea:focus {
  border: 3px solid var(--border-color);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--secundairy-color);
}

.contact .btn {
  display: block;
  margin: 2rem auto;
  text-align: center;
  width: 70%;
}
/* ---------------
    PORTFOLIO PAGE
 -----------------*/

/* ---------------
    OVER MIJ PAGE
 -----------------*/

/* ---------------
    CONTACT PAGE
 -----------------*/
.contact-page-text {
  max-width: 100%;
}

.contact-page-text h1 {
  font-size: 4rem;
  border-top: 3px solid var(--secundairy-color);
  padding-top: 2rem;
}

.contact-page-text p {
  text-align: center;
  margin: 0 5rem;
}

.contact-socials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: stretch;
}

.contact-socials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: radial-gradient(circle, whitesmoke 1%, var(--primary-color) 99%);
  border: 2px solid var(--secundairy-color);
  border-radius: var(--border-radius);
}

.contact-socials-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.contact-socials-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.contact-socials-card p {
  text-align: center;
  font-weight: bold;
  margin-top: auto;
}

/* ---------------
    COMPONENTEN
 -----------------*/
/* Hier komen de buttons en knoppen in */
.btn {
  background-color: var(--background-button);
  padding: 1.8rem 3rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  color: var(--primary-color);
}

.btn:hover {
  transform: translateY(-2px);
}
/* ---------------
    FOOTER
 -----------------*/
/* Hier komt de hele footer te staan */
.footer {
  margin-top: 5rem;
  border-top: 5px solid var(--secundairy-color);
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin: 2rem;
}

.footer-card {
  display: flex;
  flex-direction: column;
}

.footer-grid p {
  display: flex;
  margin: auto 0;
  letter-spacing: var(--letter-spacing);
}

.footer-grid a:hover {
  color: black;
}

.footer-card ul {
  list-style-type: none;
}

.footer-card li {
  padding: 0.4rem 0;
}

.footer-socials {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.footer-socials img {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

.footer-bottom {
  background-color: var(--secundairy-color);
  border-top: 3px solid var(--border-color);
}

.footer-bottom p {
  margin-bottom: 0;
  color: whitesmoke;
  padding: 1rem;
  font-size: 1.2rem;
}
/* ---------------
    MEDIA QUERIES
 -----------------*/
@media (min-width: 768px) {
  /* ---------------
    ALGEMEEN
 -----------------*/
  /* Hier komen alle semantische elementen */
  main {
    margin-top: 9rem;
  }

  main section {
    margin-right: 4rem;
    margin-left: 4rem;
  }

  main section .hero {
    margin-right: 0;
    margin-left: 0;
  }

  p {
    font-size: 1.8rem;
  }

  /* ---------------
    NAVBAR
 -----------------*/
  /* Hier komt alles van de navigatie in van de website */
  .navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    min-width: 100%;
    border-bottom: 5px solid var(--secundairy-color);
    padding: 5rem 1.5rem;
    top: 0;
    height: 9rem;
  }

  .navbar .nav-logo {
    font-size: 4rem;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .navbar ul {
    display: flex;
    border-bottom: none;
    padding-bottom: 0;
    gap: 0;
    white-space: nowrap;
  }

  .navbar li {
    border: none;
    color: var(--primary-color);
    padding: 0.5rem;
  }

  .navbar li a {
    background-color: var(--secundairy-color);
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    font-size: 1.8rem;
  }
  /* ---------------
    HERO
 -----------------*/
  /* Hier komt de hero te staan */
  .hero-content {
    min-height: 46rem;
    border-top: none;
    border-bottom: 3px solid var(--border-color);
  }

  .hero-content h1 {
    margin-top: 2rem;
  }

  .hero-content a {
    font-size: 2rem;
  }

  .hero-content .btn.left {
    margin-left: 5rem;
  }

  .hero-content .btn.right {
    margin-right: 5rem;
  }

  /* ---------------
    SECTIES
 -----------------*/
  /* Hier komen alle secties in om te stylen */

  .over-mij-grid {
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }

  .over-mij-image {
    flex-direction: column;
    padding-left: 0;
    margin: auto 0;
    gap: 40px;
  }

  .over-mij-image img {
    width: 180px;
  }

  .over-mij-text {
    border-left: 3px solid var(--secundairy-color);
    padding-left: 2rem;
  }

  .over-mij-text a {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .specialiteiten-card p {
    margin: auto 1rem;
  }

  .specialiteiten a {
    font-size: 1.8rem;
  }

  .contact h2 {
    margin-left: 2rem;
  }

  .form-group input,
  .form-group textarea {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
  }
  /* ---------------
    COMPONENTEN
 -----------------*/
  /* Hier komen de buttons en knoppen in */
  .btn {
    font-size: 1.8rem;
  }

  /* ---------------
    FOOTER
 -----------------*/
  /* Hier komt de hele footer te staan */
  .footer-grid-full {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2rem;
  }

  .footer-grid {
    margin: 0;
  }
  .footer-grid h3 {
    margin-bottom: 1rem;
  }
  .footer-grid p {
    margin-top: 0;
    margin-right: 4rem;
  }

  .footer-grid li {
    padding: 0 0 0.4rem;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
  }

  .footer-socials img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
  /* ---------------
    ALGEMEEN
 -----------------*/
  /* Hier komen alle semantische elementen */
  main section {
    margin-right: 6rem;
    margin-left: 6rem;
  }

  /* ---------------
    NAVBAR
 -----------------*/
  /* Hier komt alles van de navigatie in van de website */

  /* ---------------
    HERO
 -----------------*/
  /* Hier komt de hero te staan */

  .hero-content .btn {
    padding: 1.5rem 4rem;
    font-size: 2.5rem;
  }

  .hero-content .btn.left {
    margin-left: 8rem;
  }

  .hero-content .btn.right {
    margin-right: 8rem;
  }

  /* ---------------
    SECTIES
 -----------------*/
  /* Hier komen alle secties in om te stylen */

  .specialiteiten-card h3 {
    font-size: 3.5rem;
  }

  .contact {
    margin: 0 6rem;
  }

  .contact .btn {
    margin: 4rem auto;
  }

  /* ---------------
    COMPONENTEN
 -----------------*/
  /* Hier komen de buttons en knoppen in */

  /* ---------------
    FOOTER
 -----------------*/
  /* Hier komt de hele footer te staan */
}

@media (min-width: 1280px) {
  /* ---------------
    ALGEMEEN
 -----------------*/
  /* Hier komen alle semantische elementen */

  /* ---------------
    NAVBAR
 -----------------*/
  /* Hier komt alles van de navigatie in van de website */

  /* ---------------
    HERO
 -----------------*/
  /* Hier komt de hero te staan */

  /* ---------------
    SECTIES
 -----------------*/
  /* Hier komen alle secties in om te stylen */

  /* ---------------
    COMPONENTEN
 -----------------*/
  /* Hier komen de buttons en knoppen in */

  /* ---------------
    FOOTER
 -----------------*/
  /* Hier komt de hele footer te staan */
}
