/* ---------------
    CSS BASIS
 -----------------*/
/* Hier gaan alleen de resets in */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  font-size: 62.5%;
  position: relative;
  width: 100%;
}
/* ---------------
    ALGEMEEN
 -----------------*/
/* Hier komen alle semantische elementen */
:root {
  /* kleuren */
  --primary-color: #e36414;
  --secundairy-color: #000814;
  --background-color: #0f0f0f;
  --text-color: #fff;
  --border-color: #e36414;
  --background-button: #6c757d;
  /* Spacing */

  /* Border Radius */
  --radius: 10px;
  /* Schaduwen */
  --text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) --box-shadow: 5px 10px 5px
    rgba(0, 0, 0, 0.5);
}

body {
  font-family: Nonito, sans-serif;
  width: 100%;
  overflow-x: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.5rem;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
}

li {
  font-size: 2rem;
}

a {
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
}

a:hover,
a:focus {
  color: whitesmoke;
  text-decoration: underline;
}

a:active {
  color: whitesmoke;
  transform: translateY(2px);
}
/* ---------------
    NAVBAR
 -----------------*/
/* Hier komt alles van de navigatie in van de website */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 2rem;
}

.navbar .nav-logo {
  align-self: flex-start;
  font-size: 3rem;
  font-weight: bold;
  color: var(--secundairy-color);
  text-decoration: none;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--secundairy-color);
  padding-bottom: 0.5rem;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 90%;
  border-bottom: 5px solid var(--secundairy-color);
  padding-bottom: 2rem;
}

.navbar li {
  border: 3px solid var(--border-color);
  padding: 0.8rem;
  width: 90%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.navbar li:hover,
.navbar li:focus {
  background-color: var(--background-color);
  color: whitesmoke;
  text-decoration: underline;
}

.navbar li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/* ---------------
    HERO
 -----------------*/
/* Hier komt de hero te staan */
.hero {
}
/* ---------------
    SECTIES
 -----------------*/
/* Hier komen alle secties in om te stylen */

/* ---------------
    COMPONENTEN
 -----------------*/
/* Hier komen de buttons en knoppen in */
.btn {
}
/* ---------------
    FOOTER
 -----------------*/
/* Hier komt de hele footer te staan */

/* ---------------
    MEDIA QUERIES
 -----------------*/
@media (min-width: 768px;) {
  /* ---------------
    ALGEMEEN
 -----------------*/
  /* Hier komen alle semantische elementen */

  /* ---------------
    NAVBAR
 -----------------*/
  /* Hier komt alles van de navigatie in van de website */

  /* ---------------
    HERO
 -----------------*/
  /* Hier komt de hero te staan */

  /* ---------------
    SECTIES
 -----------------*/
  /* Hier komen alle secties in om te stylen */

  /* ---------------
    COMPONENTEN
 -----------------*/
  /* Hier komen de buttons en knoppen in */

  /* ---------------
    FOOTER
 -----------------*/
  /* Hier komt de hele footer te staan */
}

@media (min-width: 1024px) {
  /* ---------------
    ALGEMEEN
 -----------------*/
  /* Hier komen alle semantische elementen */

  /* ---------------
    NAVBAR
 -----------------*/
  /* Hier komt alles van de navigatie in van de website */

  /* ---------------
    HERO
 -----------------*/
  /* Hier komt de hero te staan */

  /* ---------------
    SECTIES
 -----------------*/
  /* Hier komen alle secties in om te stylen */

  /* ---------------
    COMPONENTEN
 -----------------*/
  /* Hier komen de buttons en knoppen in */

  /* ---------------
    FOOTER
 -----------------*/
  /* Hier komt de hele footer te staan */
}
